{% extends "store/base.html" %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center mt-5">
            <h1 class="mb-4">Reset Password</h2>
                <hr>
                <form method="post" class="form-control form-control-lg border-0">
                    {% csrf_token %}
                    {{form.as_p}}
                    <button class="btn btn-primary" name="Submit">Reset my password</button>
                </form>
        </div>
    </div>
</div>
{% endblock %}