{% extends "store/base.html" %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center mt-5">
            <h1 class="mb-4">Change Password</h2>
                <hr>
                <form method="post" class="form-control form-control-lg border-0">
                    {% csrf_token %}
                    {% for field in form %}
                    {% if field.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{field.errors}}
                    </div>
                    {% endif %}
                    <p>{{field.label}}: {{field}}</p>
                    {% endfor %}
                    <button class="btn btn-primary" name="Submit">Change my password</button>


                </form>
        </div>
    </div>
</div>

{% endblock %}