{% extends "store/base.html" %}
{%block body %}

<div class="container mt-4">
  <div class="row text-center">
    <div class="col-sm-12 col-md-2 mt-1 ">
      <div class="row border">
        <div class="col-12">
          <label class="fs-5 fw-bolder mt-3">Categories:</label>
          <ul>
            {% for category in category_list %}
            <li class="m-0">
              <a href="{% url 'store:index_filtered' category.slug %}{% if name %}?name={{name}}{% endif %}"
                class="text-decoration-none">{{category.name|capfirst}}</a>
              {% endfor %}
            </li>
          </ul>
        </div>
        <div class="col-12">
          <form method="GET" id="form2" novalidate>
            {{form.as_p}}
        </div>
        <input type="button" class="btn btn-outline-success my-2" value="Reset filters" onclick="resetFilters();">
        <button class="btn btn-outline-primary my-2" onclick="checkAndSubmit();">Apply filters</button>
      </div>
    </div>
    </form>
    <div class="col-sm-12 col-md-9 mx-auto">
      <div class="row">
        {% for product in object_list %}
        <a href="{% url 'store:product_detail' product.id product.slug %}" class="clickable-div">
          <div class="row products mt-1 border-top">
            <div class="col-4 mt-1 mb-1 ">
              <img class="img-fluid rounded float-start" src="{{ product.image.url}}" alt="product_image" />
            </div>
            <div class="col-2 m-auto ">
              <h4>{{product.name}}</h4>
              <h5>${{product.price}}</h5>
            </div>
          </div>
        </a>
        {% empty %}
        <div class="col mt-3">
          <h3>No results for: "{{request.GET.title}}".</h3>
          <p>Try checking your spelling or use more general terms.</p>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<ul class="pagination justify-content-center pagination-lg mt-4">
  {% if page_obj.has_previous %}
  <li class="page-item">
    <a class="page-link" href="{{ pagination_url }}1">First</a>
  </li>
  <li class="page-item">
    <a class="page-link" href="{{ pagination_url}}{{ page_obj.previous_page_number }}">Previous</a>
  </li>
  {% else %}
  <li class="page-item disabled">
    <span class="page-link">First</span>
  </li>
  <li class="page-item disabled">
    <span class="page-link">Previous</span>
  </li>
  {% endif %}
  <li class="page-item active" aria-current="page">
    <span class="page-link">{{ page_obj.number }}</span>
  </li>
  {% if page_obj.has_next %}
  <li class="page-item">
    <a class="page-link" href="{{ pagination_url}}{{ page_obj.next_page_number }}">Next</a>
  </li>
  <li class="page-item">
    <a class="page-link" href="{{ pagination_url}}{{ page_obj.paginator.num_pages }}">Last</a>
  </li>
  {% else %}
  <li class="page-item disabled">
    <span class="page-link">Next</span>
  </li>
  <li class="page-item disabled">
    <span class="page-link">Last</span>
  </li>
  {% endif %}
</ul>

<script type="text/javascript">
  checkAndSubmit = function () {
    event.preventDefault();
    var name = document.getElementById('search_field').value;
    document.getElementById('name_field').value = name;

    var elements = document.getElementsByClassName("form_field");
    for (var i = 0; i < elements.length; i++) {
      if (elements[i].value === undefined || elements[i].value === "") {
        elements[i].disabled = true;
      } else {
        elements[i].disabled = false;
      }
    }
    document.getElementById("form2").submit();

  }
  resetFilters = function () {
    event.preventDefault();
    var search_field = document.getElementById("search_field").value.trim()
    console.log(search_field)

    if (search_field) {
      document.getElementById("form1").submit();

    } else {
      location.href = "/";

    }

  }
</script>

{% endblock body %}