{% extends "store/base.html" %}
{% load store_tags %}
{% block title %} Shop{% endblock title %}
{%block body %}

<div class="container mt-4">
  <div class="row text-center">
    <div class="col-sm-12 col-md-2 mt-1 ">
      <div class="row border">
        <form method="GET">
          <input name="title" type="hidden" value="{{request.session.title}}">
          <div class="col-12">
            <label class="fs-5 fw-bolder mt-3">Categories</label>
          </div>
          <div class="col-12">
            <select class="form-select lwidth m-auto my-3" name="category">
              <option selected>{{request.session.category}}</option>
              {% for category in category_list%}
              <option value="{{category.name}}">{{category.name}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-12">
            <label class="fs-5 fw-bolder">Price</label>
          </div>
          <div class="col-12">
            <input type="number" class="form-control" min="0" placeholder="From" aria-label="Min Price" name="min_price"
              value="{{request.session.min_price}}">
          </div>
          <label class="fs-5 fw-bolder ">-</label>
          <div class="col-12 ">
            <input type="number" class="form-control mt-1" min="0" placeholder="To" aria-label="Max Price"
              name="max_price" value="{{request.session.max_price}}">
          </div>
          <input type="button" class="btn btn-outline-success my-2" value="Reset filters" onclick="resetFilters()">
          <button class="btn btn-outline-primary my-2" type="submit">Apply filters</button>
      </div>
    </div>
    </form>
    <div class="col-sm-12 col-md-9 mx-auto">
      <div class="row">
        {% for product in object_list %}
        <a href="{% url 'store:product_detail' product.id product.slug %}" class="clickable-div">
          <div class="row products mt-1 border-top">
            <div class="col-4 mt-1 mb-1 ">
              <img class="img-fluid rounded float-start" src="{{ product.image.url}}" alt="product_image" />
            </div>
            <div class="col-2 m-auto ">
              <h4>{{product.name}}</h4>
              <h5>${{product.price}}</h5>
            </div>
          </div>
        </a>
        {% empty %}
          <div class="col mt-3">
            <h3>No results for: "{{request.GET.title}}".</h3>
            <p>Try checking your spelling or use more general terms.</p>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% with path=request.get_full_path page_len=request.GET.page|length|negate|stringformat:"s" %}
<ul class="pagination justify-content-center pagination-lg mt-4">
  {% if page_obj.has_previous %}
  <li class="page-item">
    <a class="page-link"
      href="{% if request.GET.page %}{{path|slice:page_len}}{% else %}{{path}}&page={% endif %}1">First</a>
  </li>
  <li class="page-item">
    <a class="page-link"
      href="{% if request.GET.page %}{{path|slice:page_len}}{% else %}{{path}}&page={% endif %}{{ page_obj.previous_page_number }}">Previous</a>
  </li>
  {% else %}
  <li class="page-item disabled">
    <span class="page-link">First</span>
  </li>
  <li class="page-item disabled">
    <span class="page-link">Previous</span>
  </li>
  {% endif %}
  <li class="page-item active" aria-current="page">
    <span class="page-link">{{ page_obj.number }}</span>
  </li>
  {% if page_obj.has_next %}
  <li class="page-item">
    <a class="page-link"
      href="{% if request.GET.page %}{{path|slice:page_len}}{% else %}{{path}}&page={% endif %}{{ page_obj.next_page_number }}">Next</a>
  </li>
  <li class="page-item">
    <a class="page-link"
      href="{% if request.GET.page %}{{path|slice:page_len}}{% else %}{{path}}&page={% endif %}{{ page_obj.paginator.num_pages }}">Last</a>
  </li>
  {% else %}
  <li class="page-item disabled">
    <span class="page-link">Next</span>
  </li>
  <li class="page-item disabled">
    <span class="page-link">Last</span>
  </li>
  {% endif %}
</ul>
{% endwith %}

<script>
  resetFilters = function () {
    document.forms["form1"].submit();
  }
</script>

{% endblock body %}