{% extends 'store/base.html' %}

{% block body %}

<div class="container">
    <div class="row ">
        <div class="col-md-6 offset-md-3 text-center mt-5">
            <h1 class="mb-4">Log In</h2>
                <hr>
                <form method="post" class="form-control form-control-lg border-0" action="{% url 'login' %}">
                    {% csrf_token %}
                    {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        Invalid username or password.
                    </div>
                    {% endif %}
                    <p>{{ form.username.label }}: {{form.username}} </p>
                    <p>{{ form.password.label }}: {{form.password}} </p>
                    <div class="d-grid gap-2 col-4 mx-auto">
                        <button class="btn btn-primary" name="Submit">Login</button>
                        <a class="link-primary" href="{% url 'password_reset' %}">Forgot password?</a>
                    </div>
                    <input type="hidden" name="next" value="{% url 'store:index' %}">
                </form>
        </div>
    </div>
</div>
{% endblock %}