{% extends 'store/base.html'%}
{% block body %}

<div class="container-fluid">
    <div class="row margin-top">
        <div class="col-md-5 ">
            <img src="{{ product.image.url }}" class="img-fluid rounded float-start w-10">
        </div>
        <div class="col-md-5">
            <h3>{{ product.name }}</h3>
            <p>{{ product.description }}</p>
        </div>
        <div class="col-md-2">
            <p>${{ product.price }}</p>
            <p>Quantity left: {{ product.quantity_left }}</p>
            <form action="{% url 'store:cart_add' product.id %}" method="post">
                {% csrf_token %}
                {{ cart_product_form }}
                <button type="submit" class="btn btn-primary my-2">Add to cart</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}